/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */


:root {
  --brand: var(--blue-6);
}

body {
  font-family: system-ui, sans-serif;
  background: var(--surface-0);
  color: var(--text-1);
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--surface-2);

  a {
    text-decoration: none;
    color: var(--brand);
  }
}

.hero {
  margin: 4rem auto;
  max-width: 45rem;
}

.password-generator,
.feature-card {
  border: 1px solid var(--surface-3);
  border-radius: var(--radius-2);
  padding: 2rem;
  margin-block: 2rem;
}
